{% extends "blog/base.html" %}
{% load static %}
{% block title %} Home {% endblock title %}
{% load socialaccount %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2 class="index-subheader">Latest Articles:</h2>
      <hr>
    </div>
  </div>
</div>

{% for post in posts %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="/post/{{post.slug}}">
          <h2 class="post-title">
            {{post.title}}
          </h2>
          <h3 class="post-subtitle">
            {{post.content|slice:25}}
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="/about">{{post.author}}</a>
          {{post.date_posted}}</p>
      </div>
      <hr>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}

