{% extends "blog/base.html" %}
{% load static %}
{% block title %} Home {% endblock title %}
{% load socialaccount %}

{% block image %} 
<header class="masthead" style="background-image: url({{post.image.url}})">
{% endblock image %}

{% block heading%} <h1>{{post.title}}</h1> {% endblock heading%}

{% block subheading%} <span class="subheading">{{post.category.name}}</span> {% endblock subheading%}

{% block content %}
<input data-slug={{post.slug}} id='slug' style='display: none;'>
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>{{post.content}}</p>
        <hr>
        <div class="card">
          <div class="card-header">
            <span>Author - {{post.author}}</span>
            <div class="like-section post-cta-section">
              {% include "blog/post_likes.html" %}
            </div>
          </div>
          <div class="card-body">
            <a class="card-link"><span class="comment-btn fas fa-comments">Comment</span></a>
          </div>
          <div class="card-footer text-muted">
            <!-- <i class="fas fa-tag"></i>//<i class="fas fa-hashtag"></i> -->
            {% for tag in post.tags.all %}
              <i class="fas fa-hashtag">{{ tag }}</i>
            {% endfor %}
            <span class="comments-counter">{{ comments.count }} Comment{{ comments|pluralize }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

{% include "blog/comments.html" %}
{% endblock content %}
