{% extends "blog/base.html" %}
{% load static %}
{% block title %} Home {% endblock title %}
{% load socialaccount %}

{% block image %} 
<header class="masthead" style="background-image: url({{post.image.url}})">
{% endblock image %}

{% block heading%} <h1>{{post.title}}</h1> {% endblock heading%}

{% block subheading%} <span class="subheading">{{post.category.name}}</span> {% endblock subheading%}

{% block content %}
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>{{post.content}}</p>
        <button>Like</button>
        <a href="#">Share</a>
        <a href="/post/{{post.slug}}/comment">Comment</a>
      </div>
    </div>
  </div>
</article>
<hr>
<div class='container'>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>Comments: </h1>
      <hr>
      {% for comment in comments %}
      <p class="post-meta">Posted by
        <a href="#">{{comment.author}}</a>
          {{comment.date_posted}}
      </p>

        <p>{{comment.content}}</p> 
      
        <hr>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}

