{% extends "blog/base.html" %}
{% load static %}
{% block title %} Tags {% endblock title %}
{% load socialaccount %}

{% block image %} 
<header class="masthead" style="background-image: url('/static/images/index.jpg')">
{% endblock image %}

{% block heading%} <h1>#{{tag.name}}</h1> {% endblock heading%}

{% block content %}

{% for post in posts %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="/post/{{post.slug}}">
          <h2 class="post-title">
            {{post.title}}
          </h2>
          <h3 class="post-subtitle">
            {{post.content|slice:30}}
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="/about">{{post.author}}</a>
          {{post.date_posted}}</p>
      </div>
      <hr>
    </div>
  </div>
</div>
{% endfor %}

{% include 'blog/pagination.html' with page=posts %}
{% endblock content %}

