.comment-form-btn {
  float: right;
}

.card .comment-card {
  width: 18rem;
}

.custom-p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.25rem;
}

.custom-h5 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.25rem;
}
.custom-h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.25rem;
}

.reply-section {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:rgba(197, 215, 223, 0.2);
}

#index-img {
  background-image: url('/static/images/img2.jpg');
  background-position: center;
}

.reply-button {
  cursor: pointer;
}

.comment-btn {
  cursor: pointer;
  padding-left: 30px;
}

.post-cta-section {
  display: inline-flex;
  margin-left: 410px;
}

.total-likes {
  margin-left: 10px;
  padding-top: 1px;
}

.comments-counter {
  float: right;
}

.custom-comment-form {
  width: 100%;
}

.custom-reply-form {
  width: 100%;
}

.form-control-custom {
  height: 150px !important; 
}

.index-subheader {
  color: rgba(47, 188, 208, 100);;
}

/* navbar & side-menu */

html, body {
  overflow-x: hidden;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  position: fixed;
  height: 60px!important;
  overflow: hidden;
  z-index: 10;
}

.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}

.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}

.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}

#sidebarMenu {
  position: fixed;
  z-index: 10;
  left: 0;
  width: 100%;
  height:100vh;
  overflow: scroll;
  margin-top: 60px;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
}

#sidebarOverlay {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .9;
  background: #000;
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
  list-style: none;
  color: #d5e3e0;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a {
  color: rgba(47, 188, 208, 100);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu { transform: translateX(0); }

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: rgba(47, 188, 208, 100);
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

.sidebar-custom-font {
  font-size: 15px;
}

.sidebar-dropdown-custom-font {
  font-size: 13px;
}

.sidebar-custom-icon {
  margin: 5px;
  color: rgba(252, 70, 107, 100);
}

.sidebar-dropdown {
  padding-left: 25px;
  display: list-item;
}
